# Логи
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Конфигурации с чувствительными данными
config.json
database/*.json
database/*.db
database/language.json
database/.encryption_key

# Экспорты
exports/

# Webdriver
.wdm/
chromedriver.exe
geckodriver.exe
.env